.game-finished {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    text-align: center;

    h1 {
        color: #ff6600;
        font-size: 50px;
    }

    h3 {
        margin-top: 40px;
        font-size: 40px;
    }
}